<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Cat</title>
</head>
<body>
    <h1>Current Cat</h1>

    <h4>Name: <%= cat.name %></h4>
    <h4>Breed: <%= cat.breed %></h4>
    <h4>Color: <%= cat.color %></h4>
    <% if (cat.longHaired) { %>
            <h4><%= cat.name %> is Long-Haired!</h4>
    <% } else { %>
            <h4><%= cat.name %> is Short-Haired!</h4>
    <% } %>

    <section>
        <a href="/cats/<%= cat._id %>/edit">
            <button>Edit</button>
        </a>

        <form action="/catss/<%= cat._id %>?_method=DELETE" method="post">
            <input type="submit" value="Delete Cat"/>
        </form>
    </section>
</body>
</html>